:root {
  --primary: rgb(36, 87, 150);
}

/* Global tag styles */
body {
  font-family: Arial;
  margin: 1rem 2rem;
}

h1,
h2 {
  color: var(--primary);
}

aside {
  margin-top: 2rem;
}

h2 {
  border-top: 2px solid var(--primary);
  padding-top: 1rem;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

h3,
p {
  margin: 0;
  padding: 0;
}

/* Specific styles */
header p {
  margin: 0 0 0.25rem 0;
  padding: 0;
}

#tenets {
  font-style: italic;
}

#tenets p {
  margin-top: 0.25rem;
}

#tenets p.summary {
  margin-top: 1rem;
}

.job {
  margin-bottom: 1.5rem;
}

h3 {
  align-items: center;
  display: flex;
  font-weight: normal;
}

.company {
  border-right: 2px solid;
  font-size: 125%;
  padding-right: 0.5rem;
}

.timeframe {
  font-size: smaller;
  margin-left: 0.5rem;
}

h4 {
  align-items: center;
  display: flex;
  font-weight: normal;
  margin: 0.25rem 0 0.5rem;
}

.skills {
  display: inline-flex;
  font-size: 85%;
}

.skills::before {
  content: '-';
  padding: 0 0.25rem;
}

ul > li {
  margin-bottom: 0.25rem;
}
